.status-bar {
  display: flex;
  justify-content: center;
  padding: 2px 4px;
}
.status-bar__column {
  width: 33%;
}
.status-bar__column:first-child {
  display: flex;
  align-items: center;
}
.status-bar__column:first-child .material-symbols-outlined:first-child {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
  font-size: 18px;
  margin: 0px 3px;
  transform: translateY(1px);
}
.status-bar__column:first-child span:nth-child(2) {
  font-weight: 300;
  font-size: 15px;
  margin-right: 6px;
}
.status-bar__column:first-child .material-symbols-outlined {
  font-size: 16px;
  transform: translateY(-1px);
}
.status-bar__column:nth-child(2) {
  font-size: 15px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}
.status-bar__column:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.status-bar__column:last-child span:nth-child(2) {
  font-size: 15px;
  font-weight: 300;
  margin: 0px 0px 0px 2px;
}
.status-bar__column:last-child .material-symbols-outlined:first-child {
  font-size: 15px;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 20;
}
.status-bar__column:last-child .material-symbols-outlined:last-child {
  font-size: 33px;
  font-variation-settings: "FILL" 0, "wght" 100, "GRAD" 0, "opsz" 48;
  transform: rotate(180deg);
}
