#chat__body {
  background-color: #9bbbd4;
}
.chat-screen__timestamp {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 auto;
  margin: 10px 0;
}
.chat-screen__timestamp-text {
  display: inline-flex;
  align-items: center;
  padding: 6px 16px;
  border-radius: 50px;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  font-weight: 300;
  font-size: 13px;
}
.chat-screen__timestamp .material-symbols-outlined {
  font-size: 15px;
  margin-right: 3px;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}
