.ad-link {
  display: flex;
  justify-content: center;
}
.ad-link__box {
  position: relative;
  top: 96px;
  width: 90%;
  box-sizing: border-box;
  padding: 20px 30px;

  background-color: #f1f1f1;
  border-radius: 3px;
}
.ad-link__title {
  font-weight: 700;
  font-size: 17px;
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 7px;
}
.ad-link__p {
  font-weight: 400;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.4);
}
.ad-link__image {
  position: absolute;
  height: 60px;
  width: 60px;
  bottom: 12px;
  right: 34px;
}
