.ad-link {
  display: flex;
}
.ad-link__box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  margin: 85px 25px 0 25px;
  padding: 10px 30px;
  background-color: #f1f1f1;
  border-radius: 3px;
}
.ad-link__text {
  margin-right: 15px;
}
.ad-link__title {
  font-weight: 700;
  font-size: 17px;
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 7px;
}
.ad-link__p {
  font-weight: 400;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.4);
}
.ad-link__image {
  height: 60px;
  width: 60px;
  margin-left: 30px;
}
