.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f9f9fa;
  padding: 12px 40px;
  box-sizing: border-box;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  z-index: 2;
}
.nav__ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__list {
  position: relative;
}
.nav__list .material-symbols-outlined {
  color: #2e363e;
  font-size: 30px;
  font-variation-settings: "FILL" 0, "wght" 200, "GRAD" 200, "opsz" 48;
}
.nav__list .filled-icon {
  font-variation-settings: "FILL" 1, "wght" 700, "GRAD" -25, "opsz" 48;
}
.filled-icon {
  font-variation-settings: "FILL" 1, "wght" 700, "GRAD" -25, "opsz" 48;
}

@keyframes shake {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(3px);
  }
  50% {
    transform: translateY(-3px);
  }
  75% {
    transform: translateY(3px);
  }
  100% {
    transform: translateY(0);
  }
}

.nav__notification {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e9533a;
  border-radius: 45%;
  padding: 4px;
  color: white;
  font-size: 11px;
  font-weight: 300;
  position: absolute;
  left: 18px;
  bottom: 18px;
  z-index: 10;
}
.nav__notification-shake {
  animation: shake 1s infinite;
}

.nav__dot {
  position: absolute;
  left: 26px;
  bottom: 24px;
  height: 4px;
  width: 4px;
  border-radius: 50%;
  background-color: #e9533a;
  z-index: 10;
}
