.screen-header {
  position: fixed;
  top: 29px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 25px;
  background-color: white;
  color: rgba(0, 0, 0, 0.9);
  z-index: 1;
}
.screen-header__title {
  font-size: 25px;
  font-weight: 500;
}
.screen-header .material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}
.screen-header .material-symbols-outlined {
  margin: 0 6px;
}
.screen-header .material-symbols-outlined:last-child {
  margin-right: 0;
}

.screen-header .material-symbols-outlined:last-child:hover {
  animation: rotate 2s linear infinite;
}
@keyframes rotate {
  form {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}

.header__dot {
  position: absolute;
  right: 23px;
  top: 12px;
  height: 4px;
  width: 4px;
  border-radius: 50%;
  background-color: #e9533a;
  z-index: 10;
}

.screen-header-xs {
  position: fixed;
  top: 29px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 15px;
  background-color: white;
  color: rgba(0, 0, 0, 0.9);
  z-index: 1;
}
.screen-header-xs__title {
  font-size: 18px;
  font-weight: 500;
}
.screen-header-xs .material-symbols-outlined {
  font-size: 22px;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}
.screen-header-xs__icons .material-symbols-outlined {
  font-size: 25px;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

.screen-header__chat {
  background-color: #9bbbd4;
}
.screen-header__column {
  display: flex;
  align-items: center;
  width: 33%;
}
.screen-header__column:nth-child(2) {
  display: flex;
  justify-content: center;
}
.screen-header__column:last-child {
  display: flex;
  justify-content: flex-end;
}
.screen-header__chat-number {
  font-size: 17px;
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 3px;
}
.screen-header__column:last-child .material-symbols-outlined {
  margin-left: 10px;
}
